#locationInput {
  border: none;
  border-bottom: 2px solid #1A237E;
  margin: 10px;
  outline: none;
  padding: 5px;
  width: 300px;
}

#searchResults {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: calc(100vh - 338px);
  overflow-y: scroll;
}

.airport {
  padding: 3px;
  width: 100%; 
}

.Logo {
  align-items: center;
  color: #1A237E;
  display: flex;
  font-family: "Inter UI", sans-serif;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-around;
  text-transform: uppercase;
}
