/* layout */
.container {
  margin: 0 auto;
  max-width: 920px;
  width: calc(100% - 40px);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-v {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-v-start {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-v-left {
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.flex-v-start-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-around {
  justify-content: space-around;
  align-items: center;
}

.flex-around-start {
  justify-content: space-around;
  align-items: flex-start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-v-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-self {
  margin-left: auto;
  margin-right: auto;
}

.top-space {
  margin-top: 50px;
}

.top-space-s {
  margin-top: 20px;
}

.max-500 {
  max-width: 500px
}

.max-800 {
  max-width: 800px;
}

.std-padding {
  padding: 0px 40px;
}

.push-right {
  margin-right: 15px;
}

.hidden {
  display: none;
}

.m-appear {
  display: none;
}

/* Typography */

* {
  color: #222;
}

.title-type {
  color: #1A237E;
  font-family: "Inter UI", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.58;
  text-transform: uppercase;
}

.heading-type {
  font-family:"Inter UI", sans-serif;
  font-size: 24px;
  line-height: 1.4;
}

.body-type {
  font-family: "Inter UI", sans-serif;
  font-size: 15px;
  line-height: 1.75;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.success {
  color: #27ae60;
}

.error {
  color: #c0392b;
}

/* components */

.cta {
  background: white;
  border: 2px solid #1A237E;
  color: #1A237E;
  cursor: pointer;
  font-family: "Inter UI", sans-serif;
  font-size: 15px;
  font-weight: 400;
  height: 35px;
  outline: none;
  padding: 5px 20px;
  min-width: 120px;
}

.cta:hover {
  border-color: #1A237E;
  background: #1A237E;
  color: white;
}

.cta:disabled, .cta:disabled:hover {
  background: #eee;
  border-color: #ccc;
  color: #ccc;
}

input {
  font-family: "Inter UI", sans-serif;
}

@media screen and (max-width: 660px) {
  nav ul {
    margin: 10px auto;
    min-width: 80%;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .flex-around, .flex-around-start {
    flex-direction: column;
  }

  .m-hide {
    display: none;
  }

  .m-appear {
    display: block;
  }
}
